@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h1>Company- Rays Ban</h1>
<h2>Location</h2>
<p>353 Indian rd.<br />Windsor N9C 2M1 ON</p>

<h2>Staff</h2>
<p>Raju</p>
<p>Vijay</p>
<p>Madhu</p>
<p>Surya</p>
<p>Gani</p>
<p>Subba</p>
<p>AAku</p>

<h2>Description</h2>
<p>
    Sunglasses are used to shade the eyes from sunlight. They are usually made of a plastic or metal frame and 
    two lenses that are darkened to filter out light. Sunglasses can have prescription lenses like eyeglasses,
    but they can also have lenses that are not for correcting vision.
</p>
